/*GLOBAL SETTINGS*/

/*remove outlines*/
a {outline:0 !important;}
a:hover, a:active, a:focus {}
h1 {margin:0px;}

html{height:100%;}
body {margin: 0 0; height:100%}
body.bodyWhite{background: #fff;}
img {border:0px;}
table {border-collapse:collapse; }
tr {vertical-align:middle}
input, select, textarea, a, td, th, div, span, table, label {font-family: arial, helvetica, 'sans serif' !important; font-size:11px;}
label {color:#333}

/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
.left        { float: left; }
.right       { float: right; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }
.hide, .hidden { display: none; }
.float-center {margin:0 auto}


/*OVERALL PAGE CONTAINERS: SETS WIDTH*/
#container {margin: 0 auto; width: 1000px; z-index:300000;}


/*SETS WHITE SPACE AROUND APPLICATION*/
#main{position:relative;width: inherit; padding:10px; height:100%; background:#fff; -webkit-border-radius:4px; border-radius:4px;
border:1px solid #d8e2e9;
box-shadow:  2px 2px 3px rgba(0,0,0,0.22);
-webkit-box-shadow:  2px 2px 3px rgba(0,0,0,0.22);
-moz-box-shadow:  2px 2px 3px rgba(0,0,0,0.22);
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#d8e2e9')";
/* For IE 5.5 - 7 */
ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#d8e2e9');
}

#header {width: inherit; height:100px;}
#userInfo {position:absolute; /*background:#fdfdfc; border:1px solid #cacaca;  -webkit-border-radius:2px; border-radius:2px;*/ font-size:11px; padding:5px 15px; color:#544e3a; width:auto; top:20px; right:10px; text-align:right; line-height:1.6em}


/*SETS BACKGROUND OF MENU*/
.topNav {width:inherit; background: #efefef; height:31px;}
.topNav_off {background: #FFF;}


/*Navigation Elements*/
.actionMenu {height:26px; background:#ccc;}


.subNav li {margin-right:10px !important;}


/*MAIN CONTENT CONTAINER(S)*/
#content, .childContent, .siteContent {min-height:450px;}

img {border:0px;}
table {border-collapse:collapse}


.childContent
{
    float:right; 
    margin-top:5px;
    min-height:800px;
    width:780px;
}


/*SETS THE BACKGROUND COLOR FOR BEHIND THE LOGO*/

#header {width: inherit; height:100px;}
#userInfo {position:absolute; /*background:#fdfdfc; border:1px solid #cacaca;  -webkit-border-radius:2px; border-radius:2px;*/ font-size:11px; padding:5px 15px; color:#544e3a; width:auto; top:20px; right:10px; text-align:right; line-height:1.6em}


/* INTRO FOR SITE*/
.tblIntro {margin-top:5px; border:1px solid #8dcbef; background-color:#dff0fb}
.tblIntro td {vertical-align:top; padding:15px 15px 15px 15px;}
.lblHeader {font-size:14px; font-weight:bold; color:#45453d; display:block; padding-bottom:10px}
.tblIntro p {font-size:11px; margin-bottom:15px;}



/*FOOTER*/
.footer {width: 100%; color: #544e3a; padding:10px 0px 15px 0px; position:relative; z-index:0 !important; clear:both}
.footer p {margin-left:10px; font-size:10px; margin-top:0px; clear:both}
.footer ul {list-style: none;padding: 10px;margin: 0;}
.footer li {display: inline;padding: 0 10px 0 0;}
.footer li a{font-size: 11px;color: #FFF;font-weight: 600;}
.footer li a:hover{color: #D9E3F0;}

/*global override for footer*/
.footer .RadMenu_Default .rmRootGroup {border:0px; background:transparent url() no-repeat 0px !important; }
.footer .RadMenu_Default a { cursor:pointer !important; font-family: Arial,sans-serif !important;}
.footer .RadMenu_Default a:hover {background:none !important;}
.footer .RadMenu_Default a span {font-size:11px; font-weight:bold; text-decoration:underline;}
.footer .RadMenu_Default .rmRootLink {text-decoration:none; }
.footer .RadMenu_Default .rmRootLink:hover {color:inherit}
.footer .RadMenu_Default .rmLink {background:transparent url() no-repeat 0px !important;}
.footer .RadMenu_Default .rmText {text-decoration:underline; border:0px !important}
.footer .RadMenu_Default .rmText:hover {text-decoration:underline;}







/*HEADER STYLES*/
h1
{
	font-size: 22px;
	color: #3C647E;
	font-weight: 600;
	font-style: italic
}

h2
{
	font-size: 18px;
	color: #3C647E;
	font-weight: 600;
	font-style: italic
}

h3
{
	font-size:16px;
	color: #3C647E;
	font-weight: 600;
	font-style: italic
}

h4
{
	font-size:14px;
	color: #3C647E;
	font-weight: 600;
	font-style: italic
}
/* END HEADER STYLES */


/* BUTTON STLYES */
/*container for action buttons*/

.spanAction
{
    display:block;
    text-align:right;
    padding: 5px 0px 5px 0px; 
    margin: 10px 0px 20px 0px;
}


input.formBtn, .spanAction input {
  background-color:#F0F0F0;
  font: 11px bold arial, helvetica, 'sans serif';
  font-weight:bold;
  border: 1px solid;
  padding:2px;
  border-color: #7b7568;

}

.formBtnLeft
{
    background-color: #F0F0F0;
    font: 11px bold arial, helvetica, 'sans serif';
    font-weight: bold;
    border: 1px solid;
    padding: 2px;
    border-color: #7b7568;    
    position: relative;
    float: left;
  
}


.required {color:red; font-weight:bold; font-size:10px}

/* FONT STYLES */

a {text-decoration:underline; color:#3C647C;}
a:hover {color:#273E4B}

em {color: #cc3300;}

.TelerikTextFont
{
    font-family:arial,sans-serif; 
    font-size:12px;            
}
/* FORM STYLE S*/
text-area
{
	border: 1px solid #999;
}
select
{
	border: 1px solid #999;
}
input
{
	border: 1px solid #999;
}
input[type=checkbox]{border: 0;}
input[type=radio]{border: 0;}

fieldset {width:756px; padding:8px; margin-top:-10px; margin-bottom:10px; display:block}
legend {margin-bottom:5px; text-align:center; text-transform:uppercase; font-weight:bold; color:green; font-size:11px}


/* TABLES */
.blueTable
{
    border: 1px solid #9cb6c5;
    background: #dff0fb;
    border-collapse:separate ;
}


.spanBlueAction
{
    position:relative;
    float:right;
    padding: 5px 1px 5px 5px; 
    background: #dff0fb;
}
.blueTable td {padding:4px; vertical-align:middle; border-bottom:1px solid #fff; font-weight: normal !important;}
.blueTable img {float:right;}
.labelStyle {font-weight:bold; margin-right:10px; text-align:left !important; float:left;}
.leftImage
{
	text-indent: 20px;
}
.leftImage img
{
	margin-top: -15px;
	float: none;
	
}
.toolTipleft img{float:none; margin-top:0px;}
.blueSubTable
{
    border: 0px solid #9cb6c5;
    padding: 0px 0px 0px 0px; 
    background: #dff0fb;
}

.blueSubTable td {padding:4px; vertical-align:top; border-bottom:0px solid #fff; font-weight: normal !important;}
.blueSubTable img {float:right; margin-top:-20px;}
.blueGroupHeader
{
	padding: 2px;
	margin: 2px;
	background-color: #91AEBF;
	font-variant: small-caps;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: large;
}
.blueDutiesTable
{
    border: 1px solid #9cb6c5;
    padding: 5px 1px 5px 5px; 
    background: #dff0fb;
}

.blueDutiesTable td {padding:4px; vertical-align:top; border-bottom:1px solid #fff; font-weight: normal !important;}
.blueDutiesTable img {float:right; margin-top:-12px;}

.popupTable
{
    border: 1px solid #9cb6c5;
    padding: 5px 1px 5px 5px; 
    background: #dff0fb;
}
.popupTable td {padding:4px; vertical-align:middle; border-bottom:1px solid #fff; font-weight: normal !important;}

.noBorder td
{
	border-collapse: collapse;
    border-bottom: 0px solid #9cb6c5 !important;
}
.noBorder table
{
	border-collapse: collapse;
    border: 0px solid #9cb6c5 !important;
}

.PDMapTable
{
    border: 1px solid #9cb6c5;
    padding: 2px 3px 2px 3px; 
    line-height:18px; 
    background: #dff0fb;
}

.siteMapTable
{
    border: 0px solid #9cb6c5;
    padding: 2px 0px 2px 0px; 
    margin: 5px 0px 5px -3px;
}

.siteMapTable td {padding:3px; vertical-align:middle;}

.sitePDFTable
{
    border: 0px solid #9cb6c5;
    padding: 2px 0px 2px 0px; 
    width:100%;
    height:600px;
}

.sitePDFTable td {padding:3px; vertical-align:top; border-collapse:collapse;}

.helpLinkTable
{
	border: 0px solid #9cb6c5;
    padding: 2px 0px 2px 0px; 
    margin: 5px 0px 5px -3px;
}
.helpLinkTable td{padding:3px; vertical-align:top; border-collapse:collapse;}

/* PAGE STYLES */
div.pageTitle
{
	font-size: 1.4em;
	font-weight: bold;
	font-style:italic;
	color: #3C647E;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 2px;
	white-space: normal;
	line-height:40px;
}

.subTableHeader {color:#3C647C; text-align:left; font-weight:bold !important; font-style:italic; font-size:1.3em !important; border-bottom:solid 1px #3C647C; letter-spacing:0px; border-top:solid 0px #3C647C; }

.disabled
{
    background-color: #C0C0C0;
}

.sectionContainer
{
    width: 777px;
    background: #dff0fb;
}
.sectionContainer table
{
    width: 100%;
    border: 1px solid #9cb6c5;
    padding: 5px 1px 5px 5px; 
    background: #dff0fb;
}    

.sectionContainer img {float:right; margin-top:-14px;}
.sectionContainer td { padding:4px; vertical-align:middle; border-bottom:1px solid #fff; font-weight: normal !important;}

td.pageTitle
{
	padding-top: 4px;
	padding-bottom: 5px;
	color: #3C647E;
    font-size: 1.6em; 
    font-style: italic; 
    font-weight: bolder; 
}

span.pageTitle
{
	padding-top: 4px;
	padding-bottom: 5px;
	color: #3C647E;
    font-size: 1.6em; 
    font-style: italic; 
    font-weight: bolder; 
}

div.pageTitle
{
	padding-top: 4px;
	padding-bottom: 5px;
	color: #3C647E;
    font-size: 1.6em; 
    font-style: italic; 
    font-weight: bolder; 
}

td.sectionTitle
{
	padding-bottom: 5px;
	color: #3C647E;
    font-size: 15px; 
    font-style: italic; 
    font-weight: bolder; 
}

span.sectionTitle
{
	padding-bottom: 5px;
	color: #3C647E;
    font-size: 15px; 
    font-style: italic; 
    font-weight: bolder; 
}

div.sectionTitle
{
	padding-bottom: 5px;
	color: #3C647E;
    font-size: 15px; 
    font-style: italic; 
    font-weight: bolder; 
}

hr.separator
{
	color: #3C647C;
	background-color: #3C647C;
	height: 1px;		
	border: none;
}

span.highlight1
{
	font-size: 10pt;
	font-weight: bold;
}

td.highlight1
{
	font-size: 10pt;
	font-weight: bold;
}

div.highlight1
{
	font-size: 10pt;
	font-weight: bold;
}

span.highlight2
{
	font-size: 11px;
	font-weight: bold;
	color: #3C647C;
}




td.highlight2
{
	font-size: 11px;
	font-weight: bold;
	color: #3C647C;
}


div.highlight2
{
	font-size: 11px;
	font-weight: bold;
	color: #3C647C;
}
/* END PAGE STYLES */



/* Validation Message Styles */
th.requiredField
{
	font-weight: bold;
	color: red; /* #3C647E; */
	padding-bottom: 10px;
	padding-top:3px;
}


td.requiredField
{
	font-weight: bold;
	color: red; /* #3C647E; */
	padding-bottom: 10px;
	padding-top:3px;
}


.requiredField
{
	font-weight: bold;
	color: red ; /* #3C647E;*/
	padding-bottom: 10px;
	padding-top:3px;
}


th.instruction
{
	font-weight: bold;
	color: Blue; /* #3C647E; */
	padding-bottom: 10px;
	padding-top:3px;
}


td.instruction
{
	font-weight: bold;
	color: Blue; /* #3C647E; */
	padding-bottom: 10px;
	padding-top:3px;
}


.instruction
{
	font-weight: bold;
	color: Blue ; /* #3C647E;*/
	padding-bottom: 10px;
	padding-top:3px;
}

.validationMessageBox
{
	background-color: #fff3a8;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px #000000;
	margin-bottom: 20px;
}

.validationMessageBox ul {margin-left:30px}

.ActionSummary
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color:#000000;
}
.ActionSummary fieldset {width:756px; padding:8px; border: solid 2px #3C647C; margin-bottom:10px; display:block}
.ActionSummary legend {margin-bottom:5px; text-align:center; text-transform:uppercase; font-weight:bold; color:green; font-size:12px}

.errorMessage
{
	font-size: 10pt;
	font-weight: bold;
	padding-bottom: 10px;
	color: #BB2222;
}

.systemMessage
{
	font-size: 10pt;
	font-weight: bold;
	padding-bottom: 10px;
	color: #000000;
}
/* END Validation Message Styles */


/*LOGIN*/
.loginTable {position:relative; right:20px; left:40px; top:20px; bottom:50px; width:350px; height:auto;}
.loginTable h1 {margin-bottom:0px; color:#3C647C; text-align:left; font-weight:bold !important; font-family:Verdana; font-size:16px !important; border-bottom:solid 1px #3C647C; letter-spacing:-1px; border-top:solid 0px #3C647C;}
.loginTable table {margin:5px;}
.loginTable th {font-weight:bold; color:#000000; background-color:#d0d0cd; border:1px solid #e4e4e2; border-right:1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; padding:3px; text-align:center}
.loginTable td {padding:2px; font-weight:bold; font-size:11px}
/*END LOGIN*/



/* GRID STYLES */
.grid 
{ 
    width: 650px; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: 0;
    border-collapse:collapse; 
}

.grid td 
{ 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #000; 
}

.grid th 
{ 
    padding: 4px 2px; 
    color: #FFF; 
    background: #3F647E;
    border-left: solid 1px #CBCCCB; 
    font-size: 0.9em; 
}

.grid .alt { background: #E4EBF1; }
.grid .pgr { background: #424242; }
.grid .pgr table { margin: 5px 0; }

.grid .pgr td 
{ 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #CBCCCB; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
}   

.grid .pgr a 
{ 
	color: #000;
	text-decoration: none; 
}

.grid .pgr a:hover 
{ 
	color: #000; 
	text-decoration: none; 
}

.AdminTable
{
	overflow:auto;
	font-size: 8pt;	
	border: solid 0px #1c66ab;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align:top;
}

.AdminTable table
{
	border: none 0px #1c66ab;
}

.AdminTable td td
{
	border: none 0px #1c66ab;
}

.AdminHeader a:active 
{
	background: #9cb6c5;
}

.AdminHeader a:hover 
{
	background: #9cb6c5;
}

.AdminHeader a:visited 
{
	background: #9cb6c5;
}

.AdminHeader a 
{
	background: #9cb6c5;
}

.AdminHeader 
{
	background: #9cb6c5;
}

.AdminHeader th
{
	border-top: solid 1px #1c66ab;
	border-right: solid 1px #1c66ab;
	border-left: solid 1px #1c66ab;
	border-bottom: solid 1px #1c66ab;
	background-color:#9cb6c5; 
	font-weight:bold;
	text-align:center; 
	color:#f2f0ec; 
	padding:6px; 
}

.AdminHeader
{
	border-top: solid 1px #1c66ab;
	border-right: solid 1px #1c66ab;
	border-left: solid 1px #1c66ab;
	border-bottom: solid 1px #1c66ab;
	background-color:#9cb6c5; 
	font-weight:bold;
	text-align:center; 
	color:#f2f0ec; 
	padding:6px; 
}

.AdminHeader a:active 
{
	background-color:#eae8c6; 
	text-align:left; 
	color:#fff; 
	padding:3px; 
}

.AdminHeader a:hover 
{
	background-color:#eae8c6; 
	text-align:left; 
	color:#6e6c4f; 
	padding:3px; 
}

.AdminHeader a:visited 
{
	background-color:#eae8c6; 
	text-align:left; 
	color:#6e6c4f; 
	padding:3px; 
}

.AdminHeader a 
{
	background-color:#9cb6c5; 
	text-align:left; 
	color:#fff; 
	padding:3px; 
}

.AdminAlternateItem a:visited
{
	color:#394e7b; 
	font-weight: normal;
	text-decoration: none;
}

.AdminAlternateItem a
{
	color:#394e7b; 
	font-weight: normal;
	text-decoration: none;
}

.AdminItem a:visited
{
	color:#394e7b; 
	font-weight: normal;
	text-decoration: none;
}

.AdminItem a
{
	color:#394e7b; 
	font-weight: normal;
	text-decoration: none;
}

.AdminAlternateItem a:active
{
	color:#6e6c4f; 
	font-weight: normal;
	text-decoration: underline;
}

.AdminAlternateItem a:hover
{
	color:#6e6c4f; 
	font-weight: normal;
	text-decoration: underline;
}

.AdminItem a:active
{
	color:#6e6c4f; 
	font-weight: normal;
	text-decoration: underline;
}

.AdminItem a:hover
{
	color:#6e6c4f; 
	font-weight: normal;
	text-decoration: underline;
}

.AdminHeader td
{
	background-color:#eae8c6; 
	text-align:left; 
	color:#fff; 
	padding:3px; 
}

.AdminEmpty td
{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border: none 1px #000000;
	background-color: #FFFFFF;
}

.AdminItem
{
	background-color: #ffffff;
}

.AdminAlternateItem
{
	background-color: #E4EBF1;
}

.AdminFooter
{
	background-color: #DDDDDD;
}

.AdminPager td
{
	border-right: solid 1px #1c66ab;
	border-left: solid 1px #1c66ab;
	border-bottom: solid 1px #1c66ab;
	padding: 5px;
}

.AdminAlternateItem td
{
	border-right: solid 1px #1c66ab;
	border-left: solid 1px #1c66ab;
	border-bottom: solid 1px #1c66ab;
	padding: 5px;
}

.AdminItem td
{
	border-right: solid 1px #1c66ab;
	border-left: solid 1px #1c66ab;
	border-bottom: solid 1px #1c66ab;
	padding: 5px;
}

.AdminItem:hover
{
    background-color: #fff3a8;
}

.AdminAlternateItem:hover
{
    background-color: #fff3a8;
}

.AdminFooter td
{
	border-right: solid 1px #1c66ab;
	border-left: solid 1px #1c66ab;
	border-bottom: solid 1px #1c66ab;
	padding: 5px;
}

.AdminHeader td
{
	border-right: solid 1px #1c66ab;
	border-left: solid 1px #1c66ab;
	border-bottom: solid 1px #1c66ab;
	padding: 5px;
}

.AdminPager
{
	background: #dff0fb;
	font-weight: bold;
	font-size: 9pt;
	color: green;
}

.AdminPager td td
{
	border: none 1px #8dcbef;
	color:green;
}

.AdminPager a:active
{
	font-size: 9pt;
	font-weight: bold;
	color:green;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px green;
}

.AdminPager a:hover
{
	font-size: 9pt;
	font-weight: bold;
	color:green;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px green;
}

.AdminPager a:visited
{
	font-size: 9pt;
	font-weight: bold;
	color:green;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	border-left: solid 1px #8dcbef;
	border-right: solid 1px #8dcbef;
	border-bottom: solid 1px #8dcbef;
	border-top: solid 1px #8dcbef;
}

.AdminPager a
{
	font-size: 9pt;
	font-weight: bold;
	color:green;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	border-left: solid 1px #8dcbef;
	border-right: solid 1px #8dcbef;
	border-bottom: solid 1px #8dcbef;
	border-top: solid 1px #8dcbef;
}
/* to hide referesh button */

    div.RadGrid .rgRefresh
    {
        display: none;
    }


/*wraps around all tables / rad grid and rg master table are the same*/
.rgMasterTable {border:1px solid #8dcbef !important; background-color:#dff0fb;}

/* Change Related to Telerik.Web.UI upgrade to Q1 2012- added div to increase specificity */
div .RadGrid .rgMasterTable
 {
     border-collapse:collapse ;
 }
.RadGrid
{	background-color: white;
	vertical-align:top;
	width:100% !important;
	
	font-size:11px;
	font-weight:normal;
	color:#333;
}



.RadGrid table td:last-child {white-space:normal !important;}


/*BG FOR TABLE HEADER*/
/* Change Related to Telerik.Web.UI upgrade to Q1 2012- added .RadGrid to increase specificity */
.RadGrid .RadGridHeader
{
	background:#a5c7d8;
	color:#fff;
	/*color:#326e94;*/
	font-weight:bold;
	border:1px;
	border-collapse:collapse
}


/* Change Related to Telerik.Web.UI upgrade to Q1 2012- added TH tag to increase specificity */
 TH.rgHeader.RadGridHeader
 {
    padding:4px;
	padding-left:8px;
	font-weight:bold ;
	text-transform:uppercase;
	border-right:1px solid #fff;
	white-space:nowrap
 }
 

 
.RadGridHeader SPAN
{
	padding-top: 4px;
	display: inline;
	text-decoration: none;
	padding-left: 4px;
	color: #fff;
	font-weight:bold;
}

.RadGridHeader A {
	text-decoration: none;
	color:#fff;
	/*color: #326e94 !important;*/
}

.RadGridHeader A:hover
{
	text-decoration: underline;
	color: #fff;
}

.EditFormHeader
{
	background-color: #ced9c1;
	color: #475c2c;
	height: 18px;
}

.EditFormButtonRow A { FONT-SIZE: 12px; COLOR:Green }

.EditFormHeader TD { FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-TOP: 4px; TEXT-ALIGN: center }

.RadGridGroupHeaderItem
{
    background-color: #BFD0DF;
    text-align: right;
    font-weight:bold ;
}
.RadGridCommandItem
{
	height: 25px;
	padding-left: 4px;
	background-color: white;
	color: Green;
}

a.RadGridCommandItem
{
    text-align:right;
    FONT-WEIGHT: bold; 
    FONT-SIZE: 12px;
}

.RadGridCommandItem a:hover
{
	color: Green;
	text-decoration:none;
}

.RadGridCommandItem div
{
    padding:4px;
    font-weight:bold;
    font-size:12px;
}

.RadGridCommandItem td
{
	border-right: solid 1px #9cb6c5;
	border-left: solid 0px #9cb6c5;
	border-bottom: solid 0px #9cb6c5;
	border-top: solid 0px #9cb6c5;
	padding: 4px;
}

.rgCommandTable td
{
	border-right: solid 0px #9cb6c5;
	border-left: solid 0px #9cb6c5;
	border-bottom: solid 0px #9cb6c5;
	border-top: solid 0px #9cb6c5;
}

.rgNoRecords
{
	height: 27px;
	padding-left: 4px;
	background-color: white;
}

.rgCaption
{
    font-weight:bold;
	height: 20px;
	padding-top:5px;
	text-align:left;
}

.rgDetailTable
{
    margin: 10px 0 15px 0;
}

.rgDetailTable th
{
	border: outset 1px #fff3a8;
	background-color:#fff3a8;
	padding:4px;
	padding-left:8px;
	color:black; /*#f2f0ec;*/
	text-align:left;
	border-top:1px solid #fff;
	height:25px;
	font-weight:bold;
}

.rgDetailTable .RadGridAlternatingItem
{
	border: solid 1px #8dcbef;
	background-color:#f2f0ec;
	padding: 5px;
	height:25px;
}
/* Change Related to Telerik.Web.UI upgrade to Q1 2012- added this to have some space between lock icon and radmenu */
.RadGrid .RadGridAlternatingItem.rgAltRow   TD
{
    padding-right :5px;
    padding-left:5px;
}
/* added this to prenvent showing two dropdown arrows 
of the radcombobox, if the radcombobox was with in radgrid td*/
.RadGrid .RadGridAlternatingItem.rgAltRow .dropdownTD   TD
{
    padding-right :0px;
    padding-left:0px;
}
/*sets style for odd number table rows*/
.rgDetailTable .RadGridItem
{
	border: solid 1px #8dcbef;
	background-color:#fff;
	padding:5px;
	height:25px;
}
/* Change Related to Telerik.Web.UI upgrade to Q1 2012- added this to have some space between lock icon and radmenu */
.RadGrid  .RadGridItem.rgRow TD
{
    padding-right :5px;
    padding-left:5px;
}
.rgDetailTable .rgHoveredRow, .rgActiveRow
{
    background-color: #E4EBF1;
}
/* added this to prenvent showing two dropdown arrows 
of the radcombobox, if the radcombobox was with in radgrid td*/
.RadGrid  .RadGridItem.rgRow .dropdownTD TD
{
    padding-right :0px;
    padding-left:0px;
}
/*sets style for odd number table rows*/
.RadGridAlternatingItem td {border: solid 1px #a5c7d8; background-color:#dff0fc; padding: 5px;}

/*nested tables should not have borders*/
.RadGrid td table td {border:0px !important;}

/*sets style for even number table rows*/
.RadGridItem td {border: solid 1px #a5c7d8; background-color:#fff; padding:5px;}

/*lock image on item editing*/
img.checked {float:right; margin-top:-20px; margin-left:10px}


.rgNoRecords td
{
	border-right: solid 1px #9cb6c5;
	border-left: solid 0px #9cb6c5;
	border-bottom: solid 0px #9cb6c5;
	border-top: solid 0px #9cb6c5;
	padding: 5px;
	font-weight:bold;
}

.rgHoveredRow, .rgActiveRow
{
    background-color: #fff3a8;
}

.RadGridEditItem
{
	padding-left: 4px;
	background-color: #fff3a8;
}

.RadGridSelectedItem
{
	padding-left: 4px;
	background-color: #f2f0ec;
}

/* -------------------------------------------------- 
	:: RadGrid PagerStyle.RadGridPager
-------------------------------------------------- */

/*PAGE NUMBER LAYOUTS*/
.rgPager  {}
.RadGridPager td{}

/*sets background color for table*/
.RadGridPager table {
	font-weight: bold;
	margin:3px 5px 5px 5px !important;
}

.RadGridPager td td {}
.rgNumPart a.rgCurrentPage,
.rgNumPart a.rgCurrentPage:hover,
.rgNumPart a.rgCurrentPage:active
{
	border-top: none 1px #8dcbef;
	border-bottom: none 1px #8dcbef;
	border-left: none 1px #8dcbef;
	border-right: none 1px #8dcbef;
	padding-left: 8px;
	padding-right: 8px;
	background-color:#fff;
	margin-right:5px;
	color:green;
	cursor:text;
}

.RadGridPager a:active, .RadGridPager a:hover 
{
    border:1px solid green;
	padding-left: 8px;
	padding-right: 8px;
}
.RadGridPager a, .RadGridPager a:visited
{
	font-weight: bold;
	color:green;
	text-decoration:none;
	padding-left: 8px;
	padding-right: 8px;
	border:1px solid #8dcbef;
	background-color:#fff;
	margin-right:5px;
}


.RadGridPager div {margin-top:5px;}
/* Change Related to Telerik.Web.UI upgrade to Q1 2012- added this to decrease the size of the pager buttons */
 .RadGrid .RadGridPager .rgNumPart A
 {
     padding-right:8px;
     margin-right:5px;
     line-height :14px;
    
 }

/* -------------------------------------------------- 
	:: RadGrid PagerStyle.RadGridPagerNextPrev
-------------------------------------------------- */

.RadGridPagerNextPrev td { border:1px solid RGB(165,199,216) !important;}

.RadGridPagerNextPrev .rgPagerCell .rgNumPart a { color:RGB(51,51,51) !important; line-height:20px !important; }

.RadGridPagerNextPrev .rgPagerCell .rgNumPart .rgCurrentPage { background:none !important; border:1px solid #2B5980 !important; border-radius:3px !important; }
.RadGridPagerNextPrev .rgPagerCell .rgNumPart .rgCurrentPage:hover { padding:0px 5px 0px 0px !important; margin:0px !important;	}

.RadGridPagerNextPrev .rgPagerCell .rgAdvPart .RadComboBox { background-color:#FFF !important; border:1px solid #6F7074 !important; border-radius:3px !important; }
.RadGridPagerNextPrev .rgPagerCell .rgAdvPart .RadComboBox .rcbInputCell input { padding-top:0px !important; vertical-align:text-top !important; }
.RadGridPagerNextPrev .rgPagerCell .rgAdvPart .RadComboBox .rcbArrowCellRight a { background:url(./images/RAD/Menu/down.png) no-repeat center; height:14px !important; }

.RadComboBoxDropDown { background-color:#FFF !important; border:1px solid #6F7074 !important; }

.RadComboBoxDropDown .rcbList li { margin:0px; }
.RadComboBoxDropDown .rcbList li.rcbHovered { background-color:#DEF0FC !important; }

.RadGridPagerNextPrev .rgPagerCell .rgInfoPart strong { font-weight:bold !important; }

/* end .RadGridPagerNextPrev */


.GroupPanelItem
{
	background-color: #9fb695;
	border: 1px solid #8d9c87;
	white-space: nowrap;
}

.FormsCaptionStyle
{
	border: 1px solid red;
}

.popupPanel
{
    border: none;
    background-color: #FFFFFF; 
    width: 600px;
}

.modalBackground 
{
    background-color: #dff0fb;
    -ms-filter:alpha(opacity=20);
   -ms-opacity:0.2;
}
 
.modalPopup
{
	border-style: solid;
	border-color: #768ca5;
	background-color: #dff0fb;
	height: 110px;
}

.genericpanel
{
    font-weight:bold ;
}


.diff_new
{
	background-color: #FFFF00;
}
.diff_deleted
{
    color: Red;
    text-decoration: line-through;
}



.blueTableListView
{
    border: 1px solid #9cb6c5;
    padding: 5px 1px 5px 5px;
    background: #dff0fb;
    width: 100%;
}
.blueTableListView td
{
    padding:4px; vertical-align:middle; border-bottom:1px solid #fff; font-weight: normal !important;

}
/* for RadListBox - To make it borderless and transparent */
.borderlessRadListBox div.rlbGroup 
{ 
    background-color:Transparent; 
    border: none !important; 
}
.borderlessRadListBox li.rlbHovered
{
     background: 0 0 !important;
}

.borderlessRadListBox li.rlbSelected
{
     background: 0 0 !important;
}

/* the elements and controls in Controls\CreatePD\Duties are unable to use the following control */
/*
.dutiesParagraph
{
	font-size: 1.6em; 
	font-style: italic; 
	font-weight: bolder; 
	color:#3C647E;
}
*/

/* END GRID STYLES */

/* To display RadSpell button as image */
.rscLinkImg
{
    background-image: url('./images/RAD/SpellCheck/SpellCheck.gif');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid #404040;    
    outline: none;
    text-decoration:none;
}
.rscLinkImg A
{
    text-decoration:none;
    
}
/* End RadSpell button as Image */

/* textarea by default had font-family - monospace - to 
    match that with other controls in the body - declared this */
textarea
{
    font-family :arial, helvetica, 'sans serif';
    font-size:12px;
}

/* Change Related to Telerik.Web.UI upgrade to Q1 2012- to center the RadMenu dropdown arrow*/
 .RadGrid .RadMenu .rmHorizontal .rmItem > A.rmRootLink
{
    width:auto ;
    padding-left :12px ;
   
}
.ddicon .rmLeftImage
{
    background: transparent url("./images/RAD/Menu/down.png") no-repeat;
    
}


.RadGrid .RadMenu UL.rmHorizontal .ddicon .rmLeftImage
{
    margin: 1px 2px 0px -3px;
}
.imghelp
{
  
   background :url("./images/icons/icon_help.gif"), no-repeat;
   
}

/* Added these css classses to be used in Accordion headings of the JNP Search control */
.blueAccordionHeader
{
    background-image: url('./images/icons/icon_add.gif');
    background-repeat : no-repeat;
    background-position: right center;
    cursor: pointer;
	padding: 2px;
	margin: 2px;
	background-color: #91AEBF;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: small;
}

.blueAccordionHeaderSelected
{
    background-image: url('./images/icons/icon_cancel.gif');
    background-repeat : no-repeat;
    background-position: right center;
    cursor: pointer;
	padding: 2px;
	margin: 2px;
	background-color: #91AEBF;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: small;
}


/* combobox alternate row styling */
   /*.rcbList li:first-child {background: pink}*/
   .RadComboBoxDropDown.rcbHovered:nth-child(even) {background: #999}

      
/* Styles for KSA Search control ************************* */

    .style1
    {
        width: 312px;
    }
    .float-left
    {
        float: left;
    }
    .float-right
    {
        float: right;
    }
    .red
    {
        color: Red;
    }

    .controlContentPanel
    {
        float: right;
        width:510px;
        height: 30px;
        text-align: left;
    }
    .searchButton 
    {
        border-width: 0px;
        margin:0 5px 0 0;
    }
    .keywordSearch 
    {
    }
    .rowWithTooltip 
    {
        width: 150px;
    }
    .searchButton hover 
    {
        cursor: pointer;
    }
    .controlPartsWrapper 
    {
        width:509px;
        height: 29px;
        text-align: left;
        vertical-align: top;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .controlLeftPart
    {
        float: left;
        height: 28px;
        text-align: left;
        vertical-align: top;
    }
    .controlRightPart
    {
        visibility: hidden;
        height: 28px;
        vertical-align: top;
    }
    .controlTSLeftPart
    {
        float: left;
        height: 28px;
        text-align: left;
        vertical-align: top;
    }
    .controlTSRightPart
    {
        visibility: hidden;
        height: 28px;
        vertical-align: top;
    }

/* ******************************************************* */
.highlight1bold
{background-color:#dff0fc;
 font-weight :bold ;
}