/*RadAjaxLoadingPanel JNP_Default Skin*/

/* aligning the loading panel to center via background */
.RadAjax_JNP_Default .raDiv
{
    background:#fff url('Images/Icons/Web20Loading.gif');
}

/*loading panel background color*/
.RadAjax_JNP_Default .raColor
{
	background:#fff url('Images/Icons/Web20Loading.gif');
}

/*skin transparency level - the smaller the number, the more the transparency*/
.RadAjax_JNP_Default .raTransp
{
    opacity:0.6; /*non-IE browsers, 0-1*/
    -moz-opacity:0.6; /*old Mozilla browsers, 0-1*/
    filter:alpha(opacity=60); /*IE, 0-100*/
}