#divWaitMessage
{
    display: none; 
    padding-top: 5px;
}

#diagramChartContainer
{
    position: relative; 
    border: 1px solid #AAAAAA;
}

#mainDiagramChart, #mainDiagramChartPopUp
{
    background-color: #FFFFFF; 
    cursor: move; 
    /* transform: scale(0.75); */
    border-style: none; 
    z-index: 1500;
    zoom: 0.75;
}

#mainDiagramChart
{
    width: 1330px; 
    height: 600px; 
    overflow: auto; 
}

#mainDiagramChartPopUp
{
    width: 1650px; 
    height: 1000px; 
    overflow: auto; 
}

#divDiagramFullSizeImage, #divDiagramFullSizeCover
{
    border-style: none;
    border-width: 0px;
    position: fixed; 
    top: 0px; 
    left: 0px;  
    overflow: hidden;
    width: 8175px;
    height: 8175px; 
}

#divDiagramFullSizeImage
{
    /* background-color: #FFFFFF; */
    z-index: -500;
}

#divDiagramFullSizeCover
{
    background-color: #EBF1F4; /* page background color */
    z-index: -10;
    padding: 5px 5px 5px 5px;
}

a.linkExportPopup
{
    font-size: 14px;
    font-weight: bold;
}