/*RadAjaxLoadingPanel PDExpress Skin*/

/*loading image - do not specify background-position or background-repeat*/
.RadAjax_HCMS .raDiv
{
    background-image:url('Images/Icons/Web20Loading.gif');
}

/*loading panel background color*/
.RadAjax_HCMS .raColor
{
	background-color: #fff;
}

/*skin transparency level - the smaller the number, the more the transparency*/
.RadAjax_HCMS .raTransp
{
    opacity:0.6; /*non-IE browsers, 0-1*/
    -moz-opacity:0.6; /*old Mozilla browsers, 0-1*/
    filter:alpha(opacity=60); /*IE, 0-100*/
}