<?xml version="1.0"?>
<JAnPMessagesSection>
  <janpmessages>

    <add id="1" name="PDDeveloperValidationMsg" text="Please unlock this package and notify your Supervisor that this Job Announcement is ready for their review and signature."></add>
    <add id="2" name="HRevaluatorValidationMsg" text="Please unlock this package and notify the Staffing Specialist that this Job Announcement is ready for their review and signature."></add>

  </janpmessages>
</JAnPMessagesSection>
