<?xml version="1.0"?>
<JAnPMessagesSection>
  <janpmessages>

    <add id="1" name="PDDeveloperValidationMsg" text="Please unlock this package and notify your Supervisor that this Job Announcement is ready for their review and signature."></add>
    <add id="2" name="HRevaluatorValidationMsg" text="Please unlock this package and notify the Staffing Specialist that this Job Announcement is ready for their review and signature."></add>
    <add id="3" name="DeleteDutyMsg" text="Deleting this duty will delete any associated KSAs and Task Statements.  Select OK to continue or Cancel to discard this change."></add>
  </janpmessages>
</JAnPMessagesSection>
