<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source"
           type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           filePath="C:\HCMS\HCMS.Portal\EntLib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  
  <connectionStrings>
    <add name="FWSADConnectionString" connectionString="LDAP://fws.doi.net/DC=fws,DC=doi,DC=net" />
  </connectionStrings>
  
  <appSettings>
    <add key="MembershipConnString" value="FWSADConnectionString" />
    <add key="MembershipProvider" value="FWSActiveDirectoryMembershipProvider" />
    <add key="FormsAuthTimeout" value="40" />
    <!-- make sure this value is in synch with value of Formsauthentication timeout-->
    <add key="PersistAuthCookie" value="False" />
    <add key="JumpLogin" value="True" />
    <add key="JumpLoginID" value="50" />
    <add key="SystemImportUserID" value="65" />
    <add key="PDExpressDefaultURL" value="http://localhost:43441/PDExpressTracker.aspx" />
    <add key="JNPDefaultURL" value="http://localhost:41261/Package/JNPTracker.aspx" />
    <add key="HCMSPortalDefaultURL" value="http://localhost:54394/default.aspx"/>
    <add key="HCMSPortalBaseURL" value ="http://localhost:54394/"/>
    <add key="SupportDeskURL" value="https://pdexpress.fws.doi.net/TrainingIssueTracker/"/>
  </appSettings>
</configuration>