.RadToolTip_HCMS.rtLoading
{	
	background: url('ToolTip/Loading.gif') no-repeat center;
	width: 100%; 
	height: 100%;
}

div.RadToolTip_HCMS
{
	position: absolute;
	cursor: default;
}

div.RadToolTip_HCMS div.rtCallout
{
	display: none;
}

div.RadToolTip_HCMS.rtVisibleCallout div.rtCallout
{
	display: block;
}


div.RadToolTip_HCMS table.rtWrapper
{
	padding: 0; 
	margin: 0;
	border-collapse: collapse;
}

div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar > td.rtWrapperTopLeft,
div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopRight,
div.RadToolTip_HCMS table.rtWrapper tr>td.rtWrapperBottomLeft,
div.RadToolTip_HCMS table.rtWrapper tr>td.rtWrapperBottomRight
{
	width: 3px; 
	height: 3px; 
	line-height: 1px; 
	font-size: 1px;
	background-image: url('ToolTip/ToolTipSprites.gif');
	background-color: transparent;
	background-repeat: no-repeat;
}

div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopLeft
{
	background-position: 0 -12px;
}

div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopRight
{
	background-position: right -12px;
}

div.RadToolTip_HCMS table.rtWrapper tr>td.rtWrapperBottomLeft
{
	background-position: 0 -63px;
}

div.RadToolTip_HCMS table.rtWrapper tr>td.rtWrapperBottomRight
{
	background-position: right -63px;
}

div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopCenter,
div.RadToolTip_HCMS table.rtWrapper tr>td.rtWrapperBottomCenter
{
	height: 3px; 
	line-height: 0px; 
	font-size: 1px;
	background: url('ToolTip/ToolTipSprites.gif') ;
	background-repeat: repeat-x;
}

div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopCenter
{
	background-position: 0 -66px;
}

div.RadToolTip_HCMS table.rtWrapper tr>td.rtWrapperBottomCenter
{
	background-position: 0 -120px;
}

div.RadToolTip_HCMS  table.rtWrapper tr> td.rtWrapperLeftMiddle,
div.RadToolTip_HCMS  table.rtWrapper tr> td.rtWrapperRightMiddle
{
	background-image:  url('ToolTip/ToolTipVerticalSprites.gif');
	background-repeat: repeat-y;
	font-size: 1px;
	width: 3px;
}

div.RadToolTip_HCMS  table.rtWrapper tr > td.rtWrapperLeftMiddle
{
	background-position: 0 0;
}

div.RadToolTip_HCMS table.rtWrapper tr > td.rtWrapperRightMiddle
{
	background-position: -3px 0;
}

div.RadToolTip_HCMS table.rtWrapper tr>td.rtWrapperContent
{
	font: normal 11px Arial, Helvetica, sans-serif;
	height: 100%;
	padding: 10px !important;
	background-color:#fff3a8;
	border: solid 1px #d3d0a5;
	color: #000000;
}

div.RadToolTip_HCMS td>div.rtTitlebar
{	
	color: #000000;
	font: bold 12px Arial, Helvetica, sans-serif;
	float: left;
	line-height: 15px;
    padding: 8px 10px 8px 10px;
}

div.RadToolTip_HCMS a.rtCloseButton
{
	display: block; 
	float: right;
	position: absolute;
	right: 2px;
	width: 12px; 
	height: 11px;
	font-size: 1px; 
	line-height: 1px;
	margin-top: 5px;
	margin-right: 3px;
	background-image: url('ToolTip/ToolTipSprites.gif');
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	outline: none;
}

/* RTL support begin */
div.RadToolTip_HCMS_rtl a.rtCloseButton,
div.RadToolTip_HCMS_rtl a.rtCloseButton:hover
{
	float: left ;
	text-decoration: none ;
    outline: none;
    left: 2px;
    margin-left: 1px;
    right: auto;
    margin-right: auto;
}

div.RadToolTip_HCMS_rtl div.rtTitlebar,
div.RadToolTip_HCMS_rtl table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopCenter div.rtTitlebar div
{
	float: right ;
}

/* position="rtCalloutCenter" */
div.RadToolTip_HCMS_rtl .rtCalloutCenter
{
	right: 0;
	left: auto;
}

/* position="rtCalloutBottomRight" */
.RadToolTip_HCMS_rtl .rtCalloutTopLeft
{
	margin-right: -8px;
	left: 0;
}

/* position="rtCalloutBottomCenter" */
.RadToolTip_HCMS_rtl .rtCalloutTopCenter
{
	margin-right: 10px;
}

/* position="rtCalloutBottomLeft" */
.RadToolTip_HCMS_rtl .rtCalloutTopRight
{
	margin-right: 20px;
}

/* position="rtCalloutTopCenter" */
.RadToolTip_HCMS_rtl .rtCalloutBottomCenter
{
	margin-right: 10px ;
}

/* position="rtCalloutTopLeft" */
.RadToolTip_HCMS_rtl .rtCalloutBottomRight
{
	margin-right: 40px ;
}

/* position="rtCalloutTopRight" */
.RadToolTip_HCMS_rtl .rtCalloutBottomLeft
{
	margin-right: -20px;
	left: 0;
}

/* position="rtCalloutMiddleRight" */
.RadToolTip_HCMS_rtl .rtCalloutMiddleLeft
{
	margin-right: 10px;
	left: 0;
}

/* position="rtCalloutMiddleLeft" */
.RadToolTip_HCMS_rtl .rtCalloutMiddleRight
{
	margin-right: 1px;
}
/* RTL support end */

div.RadToolTip_HCMS div.rtCallout
{
	position: absolute; 
	height: 11px; 
	width: 11px;
	line-height: 0px; 
	font-size: 1px;
	background-image: url('ToolTip/Callouts.gif');
	background-repeat: no-repeat;
}

/* position="rtCalloutCenter" */
div.RadToolTip_HCMS .rtCalloutCenter
{
	visibility: hidden;
}

/* position="rtCalloutBottomRight" */
.RadToolTip_HCMS .rtCalloutTopLeft
{
	margin-top: -10px; 
	margin-left: 20px;
	background-position: 0 -22px;
}

/* position="rtCalloutBottomCenter" */
.RadToolTip_HCMS .rtCalloutTopCenter
{
	left: 50% ;
	margin-top: -9px; 
	margin-left: -10px;
	background-position: 0 0 ;
}

/* position="rtCalloutBottomLeft" */
.RadToolTip_HCMS .rtCalloutTopRight
{
	left: 100% ;
	margin-top: -10px; 
	margin-left: -20px;
	background-position: 0 -11px ;
}

/* position="rtCalloutTopCenter" */
.RadToolTip_HCMS .rtCalloutBottomCenter
{
	top: 100% ; 
	left: 50% ;
	margin-left: -10px ; 
	margin-top: -1px ;
	background-position: 0 -55px ;
}

/* position="rtCalloutTopLeft" */
.RadToolTip_HCMS .rtCalloutBottomRight
{
	top: 100% ; 
	left: 100% ;
	margin-left: -40px ; 
	margin-top: -1px ;
	background-position: 0 -66px ;
}

/* position="rtCalloutTopRight" */
.RadToolTip_HCMS .rtCalloutBottomLeft
{
	top: 100% ;
	margin-left: 20px ; 
	margin-top: -1px ;
	background-position: 0 -77px ;
}

/* position="rtCalloutMiddleRight" */
.RadToolTip_HCMS .rtCalloutMiddleLeft
{
	top: 50% ;
	margin-left: -10px; 
	margin-top: -7px;
	background-position: 0 -44px ;
}

/* position="rtCalloutMiddleLeft" */
.RadToolTip_HCMS .rtCalloutMiddleRight
{
	left: 100% ; 
	top: 50% ;
	margin-left: -1px;
	margin-top: -10px;
	background-position: 0 -33px;
}

div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopLeft,   
div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopCenter,   
div.RadToolTip_HCMS table.rtWrapper tr.rtVisibleTitleBar >td.rtWrapperTopRight,   
div.RadToolTip_HCMS table.rtWrapper tr >td.rtWrapperLeftMiddle,   
div.RadToolTip_HCMS table.rtWrapper tr>td.rtWrapperContent,   
div.RadToolTip_HCMS table.rtWrapper tr >td.rtWrapperRightMiddle,   
div.RadToolTip_HCMS table.rtWrapper tr >td.rtWrapperBottomLeft,   
div.RadToolTip_HCMS table.rtWrapper tr >td.rtWrapperBottomCenter,   
div.RadToolTip_HCMS table.rtWrapper tr >td.rtWrapperBottomRight   
{
    padding: 0;
    border: 0;
    border-collapse: collapse;
}