<PDXMessagesSection>
<pdxmessages>

  <add id="1" name="jsmsg1" text="Are you sure you want to delete the HR preselected Factor Standard for this Series?  Select OK to proceed.  Click the Submit button on the Factor screen to apply this change."></add>
  <add id="2" name="jsmsg2" text="Are you sure you want to delete the selected Factor Standard for this Series?  Select OK to proceed. Click the Submit button on the Factor screen to apply this change."></add>
  <add id="3" name="jsmsg3" text="You have removed the HR preselected Factor Standard for this Series."></add>
  <add id="4" name="jsmsg4" text="You have removed the selected Factor Standard for this Series."></add>
  
	
  <add id="5" name="dutychangemessage" text="Changing the duty percentage or description may result in full classification."></add>
</pdxmessages>
</PDXMessagesSection>